:root {
    --primary-color:black;
    --secondary-color:white;
    --principal-font-size:1.6rem;
    --principal-font-color:white;
    --secondary-font-color:black;
    --border-color:#C5B358;
    --button-color: #9e9d9d;
    --width:100vw;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: var(--principal-font-size);
}

.container {
    width: var(--width);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.top {
    background-color: var(--primary-color);
    width: var(--width);
    height: 10%;
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.top .logo {
    width: 3.5rem;
    height: 3.5rem;
}

.top-nav li{
    display: inline-block;
    color: var(--principal-font-color);
    font-weight: 600;
    padding: 0.3rem;
    background-color: var(--button-color);
    border-color: var(--border-color);
    border-radius: 0.6rem;
    border-style: outset;
}

.principal {
    background-color: var(--secondary-color);
    width: var(--width);
    height: 80%;
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
}

.main-up {
    width: var(--width);
    height: 40vh;
}

.main-down {
    width: var(--width);
    height: 40vh;
    color: var(--secondary-font-color);
    display: flex;
    justify-content: center;
}

.main-down article {
    display: flex;
    flex-direction: column;
}

.main-down h1 {
    font-size: 2rem;
}

.main-down h2 {
    font-size: 1.5rem;
    margin: 0 auto;
}


.img-principal {
    display: flex;
    justify-content: center;
}

.img-principal img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.bottom {
    background-color: var(--primary-color);
    width: var(--width);
    height: 10%;
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}