:root {
    --color1:black;
    --color2:#FFFFFF;
    --color3:#6A6A68;
    --color4:#B7A85C;
    --color5:#43442B;
    --font-color1:white;
    --font-color2:black;
    --width:100vw;
    --font-size1:1.6rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: var(--font-size1);
    width: var(--width);
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
}

.top {
    background-color: var(--color1);
    width: var(--width);
    height: 8%;
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.top .logo {
    width: 3.5rem;
    height: 3.5rem;
}

.top-nav li{
    display: inline-block;
    color: var(--color1);
    font-weight: 600;
    padding: 0.3rem;
    background-color: var(--color4);
    border-color: var(--color5);
    border-radius: 0.6rem;
    border-width: 0.35rem;
    border-style: outset;
}

.principal {
    background-color: var(--color2);
    width: var(--width);
    height: 84%;
    display: flex;
    flex-direction: column;
}

.main-up {
    width: var(--width);
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-down {
    width: var(--width);
    height: 50%;
    color: var(--font-color1);
    display: flex;
    flex-direction: column;
    background-image: url(./imgs/dev.jpeg);
    background-size: cover;
}

.main-down .title {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-down h1 {
    font-size: 2rem;
}

.main-down h2 {
    font-size: 1.5rem;
    color: var(--color4);
}

.main-down .personal-description {
    padding: 2rem;
}

.main-down .personal-description p {
    text-align: center;
}

.img-principal {
    display: flex;
    justify-content: center;
}

.img-principal img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
}

.bottom {
    background-color: var(--color1);
    width: var(--width);
    height: 8%;
    padding: 0.3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}